@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono-Bold';
  src: url('../fonts/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'osp-din';
  src: url('../fonts/osp-din/OSP-DIN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
