// Bootstrap variables
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

$font-family: 'RobotoMono-Regular';
$font-family-bold: 'RobotoMono-Bold';
$font-second: 'osp-din';